{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}
{% load i18n %}


{% block title %}
{% trans "Поиск постов" %}
{% endblock title %}


{% block content %}
    <h1>{% trans "Все новости" %}</h1>
    <h3>{{ post|length }}</h3>

    <hr>
    {% if perms.news.add_post %}
    <a href="{% url 'news_create' %}">{% trans "Добавить новость" %}</a>
    <a> / </a>
    <a href="{% url 'articles_create' %}">{% trans "Добавить статью" %}</a>
    {% endif %}

    <form action="" method="get" >
    {{ filterset.form.non_field_errors }}

    {{ filterset.form.title__icontains.errors }}
    <label for="{{ filterset.form.title__icontains.id_for_label }}">{% trans "Поиск" %}</label>
    <input
        id="{{ filterset.form.title__icontains.id }}"
        name="{{ filterset.form.title__icontains.name }}"
        class="form-control"
    >
    <label for="">Категории: </label>
    {{ filterset.form.category }}
    <p></p>
    <label for="filterset.form.time_in__gt.id_for_label">{% trans "Дата" %}: </label>
    <input
        type="datetime-local"
        id="{{ filterset.form.time_in__gt.id }}"
        name="{{ filterset.form.time_in__gt.name }}"
        value="{{ filterset.form.time_in__gt.value }}"
    >
    <input type="submit" class="mt-3 btn-primary" value="Найти" />
    </form>
    <hr>
    {% if post %}
        <table>
            {% for p in post %}
            <tr>
                <td><a href="{% url 'post_detail' pk=p.id %}">{{ p.title|censor }}</a></td>
                <td>{{ p.time_in|date:'M d Y' }}</td>

                {% if p.genre == 'AR' %}
                <td>
                    {% if perms.news.change_post %}
                    <a> / </a>
                    <a href="{% url 'articles_edit' pk=p.id %}">{% trans "Изменить" %}</a>
                    {% endif %}
                    {% if perms.news.delete_post %}
                    <a> / </a>
                    <a href="{% url 'articles_delete' p.id %}">{% trans "Удалить" %}</a>
                    {% endif %}
                </td>

                {% else %}
                <td>
                    {% if perms.news.change_post %}
                    <a> / </a>
                    <a href="{% url 'news_edit' pk=p.id %}">{% trans "Изменить" %}</a>
                    {% endif %}
                    {% if perms.news.delete_post %}
                    <a> / </a>
                    <a href="{% url 'news_delete' p.id %}">{% trans "Удалить" %}</a>
                    {% endif %}
                </td>
                {% endif %}
            </tr>
            <tr>
                <td>{{ p.preview|censor }}<p></p></td>
            </tr>
            {% endfor %}`
        </table>
    {% endif %}

   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}